@{
    ViewData["Title"] = "ΕΕΤ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container mt-5">
        <h1>Ελληνική Ένωση Τραπεζών (ΕΕΤ)</h1>
        <div class="mb-3">
            <label for="filterInput" class="form-label">Φιλτράρισμα κατά όνομα</label>
            <input type="text" class="form-control" id="filterInput" placeholder="Πληκτρολογήστε το όνομα της τράπεζας">
        </div>

        <ul id="banksList" class="list-group">
            
        </ul>
    </div>
</div>
